$default: 0;
$default-min: 1;
$xs: 300;
$xs-min: 3001;
$mobile: 600;
$mobile-min: 601;
$tablet: 900;
$tablet-min: 901;
$laptop: 1024;
$laptop-min: 1025;
$desktop: 1280;
$desktop-min: 1281;
$hd: 1280;
$hd-min: 1281;
$fhd: 1920;
$fhd-min: 1921;
$qhd: 2560;
$qhd-min: 2561;
$uhd: 3840;
$uhd-min: 3841;
